:root {
  --ff-primary: ;
  --ff-secondary: ;
  

  --fw-reg: ;
  --fw-bold: ;

  --grid-square: 1fr;

  --clr-main-background: hsl(222, 26%, 31%);
  --clr-keypad-background: hsl(223, 31%, 20%);
  --clr-display-background: hsl(224, 36%, 15%);

  --clr-key-background-dark: hsl(225, 21%, 49%);
  --clr-key--shadow-dark: hsl(224, 28%, 35%);

  --clr-key-background-light: hsl(30, 25%, 89%);
  --clr-key--shadow-light: hsl(28, 16%, 65%);

  --clr-key-background-equal: hsl(6, 63%, 50%);
  --clr-key--shadow-equal: hsl(6, 70%, 34%);


  --clr-key-text-light: hsl(0, 0%, 100%);
  --clr-key-text-dark: hsl(221, 14%, 31%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main-background);
  color: var(--clr-key-text-light);
  margin-top: 3em;
}

.App {
  min-width: 350px;
  width: 80vw;
  max-width: 550px;
}

/*  
############
Separator Template
############
*/

/*  
############
Header
############
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
}


/*  
############
Theme selector
############
*/

.theme-selector--container {
  display: flex;
  align-items: center;
}

.toggle-switch-container {
  /* background-color: var(--clr-keypad-background); */
  margin-left: 1.5em;
}

/*  
############
Display
############
*/

.display {
  display: flex;
  justify-content: right;
  align-items: center;

  overflow: hidden;
  white-space: nowrap;

  background-color: var(--clr-display-background);

  width: 100%;
  height: 1.5em;
  padding: 1.2em;
  margin-bottom: 1em;
  border-radius: 10px;

  font-size: 32px;
  text-align: center;
}


/*  
############
Buttons
############
*/

.button-field {
  display: grid;
  grid-template-columns: repeat(4, var(--grid-square));
  grid-template-rows: repeat(5, var(--grid-square));
  grid-template-areas: 
  "n7 n8 n9 delete"
  "n4 n5 n6 add"
  "n1 n2 n3 subtract"
  "decimal n0 divide multiply"
  "reset reset equal equal"
  ;
  grid-gap: 10px;

  background-color: var(--clr-keypad-background); 

  padding: 2em;
  height: 60vh;
  min-height: 400px;
  border-radius: 10px;
}

.num-1 {grid-area: n1}
.num-2 {grid-area: n2}
.num-3 {grid-area: n3}
.num-4 {grid-area: n4}
.num-5 {grid-area: n5}
.num-6 {grid-area: n6}
.num-7 {grid-area: n7}
.num-8 {grid-area: n8}
.num-9 {grid-area: n9}
.num-0 {grid-area: n0}

.delete {grid-area: delete;}
.add {grid-area: add;}
.subtract {grid-area: subtract;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.decimal {grid-area: decimal;}
.reset {grid-area: reset;}
.equal {grid-area: equal;}

.button {
  background-color: var(--clr-key-background-light);
  color: var(--clr-key-text-dark);
  font-size: 32px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 2px var(--clr-key--shadow-light);
}

.delete,
.reset {
  background-color: var(--clr-key-background-dark);
  color: var(--clr-key-text-light);
  box-shadow: 0 5px 2px var(--clr-key--shadow-dark);
}

.equal {
  background-color: var(--clr-key-background-equal);
  color: var(--clr-key-text-light);
  box-shadow: 0 5px 2px var(--clr-key--shadow-equal);
}
